@font-face {
  font-family: "iconfont"; /* Project id 4548749 */
  src: url('iconfont.woff2?t=1721437938128') format('woff2'),
       url('iconfont.woff?t=1721437938128') format('woff'),
       url('iconfont.ttf?t=1721437938128') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e796";
}

.icon-zhishiku:before {
  content: "\e647";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-yueliang:before {
  content: "\e6f3";
}

.icon-wutouxiang:before {
  content: "\e63c";
}

.icon-gengduo:before {
  content: "\e670";
}

.icon-huihua:before {
  content: "\e6da";
}

.icon-renxiang:before {
  content: "\e600";
}

.icon-yumaobi:before {
  content: "\e60b";
}

.icon-Chat-:before {
  content: "\ecb1";
}

